---
 - name: Create a EC2 Instance
   ec2:
     key_name: sagarthinknyx
     instance_type: t2.micro
     image: ami-0d758c1134823146a
     wait: yes
     region: us-east-2
     group: sg-0065b29fa10489ab8
     count: 1
     instance_tags:
       name: name
     count_tag: 
       name: New_Postgres_Server
     vpc_subnet_id: subnet-00e6b24c
     assign_public_ip: yes
     aws_access_key: AKIAYGTMJ4U2JSLOYHAG
     aws_secret_key: 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
   register: ec2
