---
- name: installing pip3
  when: ansible_distribution == "Debian"
  apt:
    name: "{{ item }}"
    state: present
  loop:
    - postgresql-client
    - python3-pip
  become: yes

- name: installing pip3
  when: ansible_distribution == "RedHat"
  yum:
    name: "{{ item }}"
    state: present
  loop:
    - postgresql-server
    - postgresql
    - python3-pip
  become: yes

- name: installing boto
  pip:
    name: "{{ item }}"
    executable: pip3
    state: present
  loop:
    - boto
    - boto3
    - psycopg2-binary
  become: yes

